<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to rent a car</title>


    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" >


</head>
<body>
<div class="overly-login">
    <div class="pulse-spinner"></div>
</div>
<div class="main-wrapper login-area">
    <div class="container-fluid">
        <div class="row">
            <div class="login-wrapper">



                <div class="login-inner">
                    <h3>Register to rent a car</h3>
                    <form id="loginForm">
                        <div class="form-group nameInput">
                            <label for="name">Name</label>
                            <input type="text" class="form-control loginInput" id="name" name="name" aria-describedby="emailHelp" placeholder="Type you name">
                        </div>
                        <div class="form-group surnameInput">
                            <label for="surname">Surname</label>
                            <input type="text" class="form-control loginInput" id="surname" name="surname" aria-describedby="emailHelp" placeholder="Type your surname">
                        </div>
                        <div class="form-group emailInput">
                            <label for="userEmail">Email</label>
                            <input type="text" class="form-control loginInput" id="userEmail" name="userEmail" aria-describedby="emailHelp" placeholder="Type your email">
                        </div>
                        <div class="form-group password">
                            <label for="loginPassword">Password</label>
                            <input type="password" class="form-control loginInput" id="loginPassword" name="loginPassword" placeholder="Geben Sie Ihr Passwort hier ein">
                            <svg id="showPassword" xmlns="http://www.w3.org/2000/svg" width="20.108" height="14" viewBox="0 0 20.108 14">
                                <g id="bx-show-alt" transform="translate(-1.946 -5)" opacity="0.3">
                                    <path id="Path_33" data-name="Path 33" d="M14,12a2.012,2.012,0,0,1-2-2,1.961,1.961,0,0,1,.268-.973C12.178,9.02,12.092,9,12,9a3,3,0,1,0,3,3c0-.092-.02-.178-.027-.268A1.961,1.961,0,0,1,14,12Z" fill="#1473a0"/>
                                    <path id="Path_34" data-name="Path 34" d="M12,5a10.487,10.487,0,0,0-9.948,6.684L1.946,12l.1.316A10.491,10.491,0,0,0,12,19a10.487,10.487,0,0,0,9.948-6.684L22.054,12l-.1-.316A10.491,10.491,0,0,0,12,5Zm0,12a8.347,8.347,0,0,1-7.926-5A8.348,8.348,0,0,1,12,7a8.347,8.347,0,0,1,7.926,5A8.348,8.348,0,0,1,12,17Z" fill="#1473a0"/>
                                </g>
                            </svg>
                            <svg id="hidePassword" xmlns="http://www.w3.org/2000/svg" width="20.108" height="19.414" viewBox="0 0 20.108 19.414">
                                <path id="bx-low-vision" d="M12,5a10.863,10.863,0,0,0-4.617.971L3.707,2.293,2.293,3.707,5.608,7.023a10.882,10.882,0,0,0-3.557,4.66L1.946,12l.105.316A10.491,10.491,0,0,0,12,19a10.857,10.857,0,0,0,4.615-.971l3.678,3.678,1.414-1.414L18.39,16.976a10.886,10.886,0,0,0,3.559-4.66l.1-.316-.1-.316A10.49,10.49,0,0,0,12,5ZM4.074,12a8.238,8.238,0,0,1,.521-.989l5.867,5.867A8.309,8.309,0,0,1,4.074,12Zm9.247,4.907L5.841,9.426a8.138,8.138,0,0,1,1.188-.982L15.084,16.5A8.835,8.835,0,0,1,13.321,16.907Zm3.648-1.352-1.541-1.541a3.779,3.779,0,0,0,.317-3.364A.983.983,0,0,1,15,11a.993.993,0,0,1-.318-1.936,3.879,3.879,0,0,0-4.7-.493L8.915,7.5A9.292,9.292,0,0,1,12,7a8.348,8.348,0,0,1,7.926,5A8.574,8.574,0,0,1,16.969,15.555Z" transform="translate(-1.946 -2.293)" fill="#1473a0"/>
                            </svg>


                            <div class="form-forget">
                                <!--                                <a href="forget-password.html">Passwort vergessen?</a>-->
                            </div>
                            <span class="message-login"></span>
                        </div>
                        <button type="submit" class="btn btn-primary login-button">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



</body>

</html>